.card { 
    margin: 10px;
    height: 240px;
    width: 350px;
    overflow: hidden; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .card-footer {
     background: #f2f2f2;
 }

 #image:hover{
     opacity: 0.9;
 }
 


