.modal{
    font-family: 'Roboto Slab', serif;
}

#text{
    margin-top: 5px;
}

.bold-text {
    font-weight: 600;
}

#skills-text {
    margin-bottom: -5px;
}

.modal-button {
    border: none;
    color: black;
    border: 2px solid black;
    background-color:#87ceeb !important; 
}

.modal-button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
}
