.main {
    height: 100vh;
    /* height: calc(100vh - 50px); */
    background: linear-gradient(195deg, #87ceeb 60%, #f2f2f2 60%);
    color: black;
}


#home-title {
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

#name {
    font-size: 10vh;
    font-family: 'Roboto Slab', serif;
}

#tag-line {
    font-size: 4vh;
    font-family: 'Roboto Slab', serif;
}
a {
    font-family: 'Roboto Slab', serif;
    margin-left: 5px;
}

.button {
    border: 3px solid black;
    border-radius: 0px;
    width: 150px;
    color: black;
    font-family: 'Roboto Slab', serif;
    margin: 10px;
}
.button:hover {
    background: transparent !important;
    border: 3px solid black;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#button-link{
    color: black;
    font-family: 'Roboto Slab', serif;
}

#contact {
    margin-top: 15px;
    display: none;
}
#contact-title {
    font-size: 4vh;
    font-family: 'Roboto Slab', serif;
}
#small-hr{
    display: block;
        position: relative;
        padding: 0;
        margin: 8px auto;
        height: 0;
        width: 60%;
        max-height: 0;
        line-height: 0;
        clear: both;
        border: none;
        border-top: 2px solid black;
    }
    #links {
        margin-top: 15px;
        color: black;
    }

    .site-link{
        color: black;
        margin-right: 5px;
    }
    .site-link:hover{
        color: black;
        transform: scale(1.15);
    }