#nav {
    color: black;
    line-height: 50px;
    display: inline-block;
    background-color: transparent;
}

.nav-links{
    cursor: pointer;
}

.links {
    display: inline-block;
    margin-right: 12px;
}


